<%= render 'hero' %>
<%= render 'section-2' %>

    <section>

        <div class="class-UN" id="jobs">
            <div class="overley"></div>
            <div class="h-un-title">
                <div class="h-d-details">
                    <a id="un-link" href="#">
                        <div class="b-h active">الجامعات</div>
                    </a>
                    <a id="de-link" href="#">
                        <div class="b-h">الكليات</div>
                    </a>
                    <a id="ts-link" href="#">
                        <div class="b-h">التخصصات</div>
                    </a>
                    <a id="ar-link" href="#">
                        <div class="b-h">المقالات</div>
                    </a>
                </div>
            </div>
            <div class="plr-30">
                 <%= render 'home/universities', taxons: @taxons, taxon: @taxon %>

                <div id="de" style="display:none">
                      <%= render 'products/products', products: @products %>
                </div>
                <div id="ts" style="display:none">
                    <%= render 'products/products', products: @products %>
                </div>
                <div id="ar" style="display:none">
                    <%= render 'home/articles', taxons: @taxons, taxon: @taxon %>

                </div>
            </div>
            <a href="4pege.html">
                <button class="btn-bigger btn-bigger2 foewerd semi-transparent">View all</button></a>
        </div>
    </section>