<section class="pt-118" id="Programs">

  <div class="class-pa" id="jobs">
    <div>
      <div class="semi-transparent-un borders-pa">

          
        <div class="semi-transparent-pa text-h">
                        <h1 class="pl-20"><%=I18n.t('spree.programs')%></h1>
        </div>
        <div class="semi-transparent-un-1 ">
          <div class="content">
            <div class="content">
                <%= render partial: 'products/search' %>
            </div>
          </div>

          <section class="">
           <% if params[:keywords] %>
             <% if @products.empty? %>
               <h6>
                  <%= t('spree.no_products_found') %>
                </h6>
              <% else %>
                <%= render 'products2', products: @products, taxon: @taxon %>
              <% end %>
            <% else %>
              <%= render 'products2', products: @products, taxon: @taxon %>
           <% end %>
          </section>
      </div>
    </div>
  </div>
</section>