<!doctype html>
<html lang="<%= I18n.locale %>" dir="<%= I18n.locale.to_s == 'ar' ? 'rtl' : 'ltr' %>">
  <head>
    <meta charset="utf-8">
    <title><%= title %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%== meta_data_tags %>
    <%= canonical_tag(current_store.url) %>
    <%= csrf_meta_tags %>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <%= javascript_include_tag 'solidus_starter_frontend' %>
    <%= stylesheet_link_tag 'styles', media: 'screen' %>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">


    <%= favicon_link_tag 'logo-2' %>
    <%= yield :head %>
  </head>
  <body class="<%= "bac-color" %>" id="<%= @body_id || 'default' %>" data-turbo="false">
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
    <%= render 'layouts/header', taxons: @taxons, taxon: @taxon %>
    <%= flash_messages %>
    <main>
      <%= yield %>
    </main>
    <%= render 'layouts/footer' %>
    <%= render 'layouts/bottons'%>
  </body>
</html>
